body {
    text-align: left;
}

nav {
    flex-direction: row;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav li {
    padding: 0 20px 0 0;
}

nav li a:hover,nav li a.active  {
    border-bottom: 2px solid #BDB6DB;
    padding-bottom: 5px;
    font-weight: normal;
}

.mobile-hidden {
    display: inline;
}

.content-intro {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-top: 0;
}

.button:hover {
    background-color: #BDB6DB;
}

.page-content {
    padding-right: 300px;
    text-align: justify;
}

.table-content {
    width: 200px;
    position: fixed;
    right: 60px;
}

