* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    color: #333333;
}

.wrapper {
    padding: 0 40px 40px 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.title a {
    display: inline-block;
    letter-spacing: -2px;
    color: #8DE6F7;
    font-weight: bolder;
    font-size: 2rem;
    padding: 10px 20px;
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav li {
    padding: 10px;
}

.mobile-hidden {
    display: none;
}

nav li a {
    text-decoration: none;
    color: #333333;
}

nav li a:hover,nav li a.active  {
    font-weight: bold;
}

.button {
    background-color: #E0426D;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 2px;
    display: inline-block;
    min-width: 150px;
    text-align: center;
}

.content-intro {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.introduction, .illustration {
    flex-basis: 50%;
}

.introduction {
    padding: 0 20px;
    text-align: center;
}

.introduction h1 {
    font-size: 2.5rem;
}

.introduction p {
    font-size: 1.2rem;
}

.introduction h1, .introduction p, .introduction a {
    margin-bottom: 20px;
}

.illustration {
    text-align: center;
}

.illustration img {
    max-width: 100%;
}

/* page html */

.bottom-page {
    text-align: center;
}

.page-content {
    padding: 10px 20px;
}

.page-content h2, .page-content h3, .page-content p,
.page-content pre {
    padding-bottom: 20px;
}

/* page css */
.list-content {
    padding-bottom: 10px;
    list-style: none;
}

pre {
    max-width: 100%;
    overflow: auto;
}